In [44]:
import pandas as pd
import os
import matplotlib as plt

#to import to Postgres
from sqlalchemy import create_engine

In [3]:
#8.4.2
ratings = pd.read_csv('ratings.csv', low_memory = False)

In [4]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [5]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [6]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [8]:
#groupby the movie field and count the groups
ratings_counts =  ratings.groupby(['movieId', 'rating'], as_index = False).count()

In [9]:
ratings_counts

        movieId  rating  userId  timestamp
0             1     0.5     441        441
1             1     1.0     804        804
2             1     1.5     438        438
3             1     2.0    2083       2083
4             1     2.5    1584       1584
...         ...     ...     ...        ...
239376   176267     4.0       1          1
239377   176269     3.5       1          1
239378   176271     5.0       1          1
239379   176273     1.0       1          1
239380   176275     3.0       1          1

[239381 rows x 4 columns]

In [17]:
#rename user ID to count & change to movieID to index with .pivot
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1).pivot(index = 'movieId', columns = 'rating', values = 'count')

In [18]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [20]:
#rename columns to prepend with rating
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [21]:
rating_counts.columns

Index(['rating_0.5', 'rating_1.0', 'rating_1.5', 'rating_2.0', 'rating_2.5',
       'rating_3.0', 'rating_3.5', 'rating_4.0', 'rating_4.5', 'rating_5.0'],
      dtype='object')

In [22]:
#merge rating counts with columns
movies_df = pd.read_csv('final_movies.csv', low_memory = False)

In [23]:
movies_df.columns

Index(['Unnamed: 0', 'imdb_id', 'kaggle_id', 'title', 'original_title',
       'tagline', 'belongs_to_collection', 'wikipedia_url', 'imdb_link',
       'runtime', 'budget', 'revenue', 'release_date', 'popularity',
       'vote_average', 'vote_count', 'genres', 'original_language', 'overview',
       'spoken_languages', 'country', 'production_companies',
       'production_countries', 'distributor', 'producers', 'director',
       'starring', 'cinematography', 'editors', 'writers', 'composers',
       'based_on'],
      dtype='object')

In [28]:
#use a left merge to merge ratings and movies df
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on = 'kaggle_id', right_index = True, how = 'left')

In [30]:
#fill missing ratings with 0
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [38]:
#create database engine so notebook talks to postgres
"postgresql://[user]:[password]@[location]:[port]/[database]"

'postgresql://[user]:[password]@[location]:[port]/[database]'

In [45]:
from config import db_password

In [46]:
#add a string for the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [47]:
#create engine 
engine = create_engine(db_string)

In [48]:
movies_df.to_sql(name='movies', con=engine)

In [ ]:
## import the ratings data; need to do it in chunks because it is large
#for data in pd.read_csv('ratings.csv' chunksize=1000000):
    #data.to_sql(name = 'ratings', con=engine, if_exists = 'append')

In [49]:
# print elapased time
import time

In [52]:
#create a variable for the number of rows imported
rows_imported = 0

#get the start_time from time.time()
start_time = time.time()

for data in pd.read_csv('ratings.csv', chunksize=1000000):

    #print out the range of rows that are being imported
    
    print(f'importing rows {rows_imported} to {rows_imported + len(data)} . . .', end = '')
    
    data.to_sql(name= 'ratings', con= engine, if_exists = 'append')
    
    #increment the number of rows imported by the chuncksize
    rows_imported += len(data)
    
    #print the rows that have finished import and add elapsed time
    print(f'Done. {time.time() - start_time} total seconds elapsed')

importing rows 0 to 1000000 . . .Done. 25.692349910736084 total seconds elapsed
importing rows 1000000 to 2000000 . . .Done. 50.64450407028198 total seconds elapsed
importing rows 2000000 to 3000000 . . .Done. 75.48807215690613 total seconds elapsed
importing rows 3000000 to 4000000 . . .Done. 100.86545300483704 total seconds elapsed
importing rows 4000000 to 5000000 . . .Done. 128.4109869003296 total seconds elapsed
importing rows 5000000 to 6000000 . . .Done. 154.06760382652283 total seconds elapsed
importing rows 6000000 to 7000000 . . .Done. 180.92043590545654 total seconds elapsed
importing rows 7000000 to 8000000 . . .Done. 205.54451704025269 total seconds elapsed
importing rows 8000000 to 9000000 . . .Done. 232.30478620529175 total seconds elapsed
importing rows 9000000 to 10000000 . . .Done. 259.5103359222412 total seconds elapsed
importing rows 10000000 to 11000000 . . .Done. 284.2429370880127 total seconds elapsed
importing rows 11000000 to 12000000 . . .Done. 311.67040610313416 total seconds elapsed
importing rows 12000000 to 13000000 . . .Done. 341.68188881874084 total seconds elapsed
importing rows 13000000 to 14000000 . . .Done. 371.8412199020386 total seconds elapsed
importing rows 14000000 to 15000000 . . .Done. 402.3231599330902 total seconds elapsed
importing rows 15000000 to 16000000 . . .Done. 433.04745602607727 total seconds elapsed
importing rows 16000000 to 17000000 . . .Done. 456.9934949874878 total seconds elapsed
importing rows 17000000 to 18000000 . . .Done. 481.55782103538513 total seconds elapsed
importing rows 18000000 to 19000000 . . .Done. 507.8460772037506 total seconds elapsed
importing rows 19000000 to 20000000 . . .Done. 532.6987340450287 total seconds elapsed
importing rows 20000000 to 21000000 . . .Done. 561.6124048233032 total seconds elapsed
importing rows 21000000 to 22000000 . . .Done. 586.215133190155 total seconds elapsed
importing rows 22000000 to 23000000 . . .Done. 616.6570301055908 total seconds elapsed
importing rows 23000000 to 24000000 . . .Done. 641.5156309604645 total seconds elapsed
importing rows 24000000 to 25000000 . . .Done. 670.5715608596802 total seconds elapsed
importing rows 25000000 to 26000000 . . .Done. 696.3272180557251 total seconds elapsed
importing rows 26000000 to 26024289 . . .Done. 696.8764169216156 total seconds elapsed